.wrapper {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(7, auto);
  place-items: center;
  max-width: 350px;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: repeat(4, auto);
  }
}
