.track {
  /* background-color: #18191f; */
  color: #575a77;
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.track:first-child {
  margin: 0;
}

.active {
  background-color: rgba(238, 100, 82, 0.3);
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin: 5px 0;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.track img, .active img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.track h3, .active h3 {
  font-size: 17px;
  -webkit-line-clamp: 1;
}
.active:first-child {
  margin: 0;
} 
.track:hover {
  background-color: #18191f;
  color: #ffffff;
  border-radius: 5px;
}
.title_date_time_wrapper {
  width: calc(100% - 48px);
}
.date_time {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .track img, .active img {
    width: 40px;
    height: 40px;
    display: block;
  }
  .title_date_time_wrapper {
    width: calc(100% - 40px);
  }
  .track h3, .active h3 {
    font-size: 15px;
    margin-left: 8px;
  }
  .track .duration, .active .duration {
    font-size: 13px;
  }
  .track p, .active p {
    display: block;
    margin-top: 3px;
    margin-left: 10px;
  }
}
