.wrapper {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  background-color: var(--playerBackground);
  overflow: auto;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0 20px;
  }
}
