.play {
  width: 32px;
  height: 32px;
  transition: transform 0.2s;
}

.play:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media screen and (max-width: 767px) {
  .play {
    width: 28px;
    height: 28px;
  }
}