.previous {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.previous:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media screen and (max-width: 767px) {
  .previous {
    width: 20px;
    height: 20px;
  }
}