.wrapper {
  text-align: center;
}

.search {
  height: 40px;
  border: none;
  font-size: 18px;
  width: 100%;
  margin: 0 auto 10px auto;
  background-color: #18191f;
  color: #ffffff;
  padding-left: 20px;
  border-radius: 10px;
}

.search::placeholder {
  color: #575a77;
  opacity: 1;
}

.search:-ms-input-placeholder {
  color: #575a77;
}

.search::-ms-input-placeholder {
  color: #575a77;
}
