.shuffle {
  width: 18px;
  height: 18px;
  transition: transform 0.2s;
}

.shuffle:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media only screen and (max-width: 767px) {
  .shuffle {
    display: none;
  }
}
