.speed {
  padding: 4px;
  border: 0;
  line-height: normal;
  height: 30px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  box-shadow: none;
  outline: none;
}
@media screen and (max-width: 600px) {
  .speed {
    font-size: 16px;
  }
}
