.start_date {
  color: #aaafb3;
  display: block;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 6px;
  text-align: left;
  margin-left: 12px;
}
@media screen and (max-width: 767px) {
  .start_date {
    display: none;
  }
}
