.time {
  color: var(--timeColor);
  display: block;
  float: left;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}
.cr_time {
  position: absolute;
  top: 10px;
  left: 0;
}
.duration {
  position: absolute;
  top: 10px;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .time {
    width: 100%;
    margin: 0 auto;
    display: none;
  }
}
