.time {
  color: #AAAFB3;
  display: block;
  float: left;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}
.cr_time {
  position: absolute;
  top: 10px;
  left: 0;
}
.duration {
  position: absolute;
  top: 10px;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .time {
    font-size: 13px;
    font-weight: 500;
  }
  .duration, .cr_time {
    top: 6px;
  }
}
