.image_title_time_wrapper {
  display: flex;
  align-items: center;
  width: 35%;
  padding-right: 24px;
}

.buttons_progress_wrapper {
  width: 35%;
}

.playlist_wrapper {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title_time {
  width: calc(100% - 60px);
}

.buttons_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progress_wrapper {
  width: 100%;
  padding: 0 50px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .image_title_time_wrapper {
    width: 37%;
    padding-right: 10px;
  }
  .title_time {
    width: 100%;
  }
  .buttons_progress_wrapper {
    width: 50%;
  }
  .playlist_wrapper {
    width: 13%;
  }
  .progress_wrapper {
    padding: 0 38px;
  }
}
