.image_title_time_wrapper {
  display: flex;
  align-items: center;
  width: 35%;
  padding-right: 24px;
}

.buttons_progress_wrapper {
  width: 35%;
}

.playlist_wrapper {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title_time {
  width: calc(100% - 60px);
}

.buttons_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progress_wrapper {
  width: 100%;
  padding: 0 50px;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .title_time_wrapper {
    grid-template-columns: 100%;
  }

  .buttons_volume_wrapper {
    grid-template-columns: 100%;
  }
}
