.sign-up-wrap {
  font-family: $secondary-font;
  margin: 20px 0;
  background-color: #232323;
  display: flex;

  .subscribe-left {
    background-color: #000;
    background-image: url(../../public/images/overlay.png);
    position: relative;
    padding: 40px 48px 0 40px;
    width: 50%;

    .cb247-subscribe h2 {
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 40px;
      line-height: 105.47%;
      color: #ffffff;
      max-width: 325px;
      margin: 0;
    }
    .cnb-logo {
      position: absolute;
      top: 20px;
      right: 36px;
      width: 110px;
      height: auto;
    }
    p {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      margin: 28px 0;
    }
    .benefits {
      margin: 26px 0 20px 0;

      h3 {
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 16px;
        line-height: 105.47%;
        color: #ffffff;
      }
      ul {
        padding-left: 16px;
        margin: 0;

        li {
          font-family: $secondary-font;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: #ffffff;
          margin: 0;
        }
      }
    }
    .two-friend {
      display: flex;
    }
  }
  .subscribe-right {
    background-color: #fff;
    width: 50%;
  }
  .create-account {
    padding: 40px 32px;

    h4 {
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
      color: #000000;
      max-width: 380px;
      margin: 0 0 16px;
    }
    p {
      color: #000;
    }
    a.highlight {
      letter-spacing: -0.02em;
      color: #b2922c !important;
      text-decoration: none;
    }
    .form-group label,
    .form-group-label {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #27292d;
      position: relative;
      width: 100%;
    }
    .form-group-label {
      margin-top: 8px;
    }
    .plan-radio {
      input[type="radio"] {
        position: absolute;
        opacity: 0;
      }
      .form-label {
        background: #ffffff;
        border: 2px solid #a9afb2;
        box-sizing: border-box;
        border-radius: 6px;
        height: 64px;
        font-size: 14px;
        margin-bottom: 14px;
        display: block;
        width: 100%;
        padding-top: 12px;
        cursor: pointer;

        &:before {
          content: "";
          background: #fff;
          border: 2px solid #dadada;
          display: inline-block;
          width: 18px;
          height: 18px;
          position: absolute;
          left: 14px;
          top: 18px;
          margin-right: 10px;
          vertical-align: top;
          text-align: center;
          transition: all 250ms ease;
          border-radius: 100%;
        }
      }
      label {
        position: relative;

        strong {
          display: block;
          font-family: $secondary-font;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          color: #000000;
          padding-left: 44px;
        }
        span {
          padding-left: 44px;
          display: block;
          font-family: $secondary-font;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #3f4447;
          padding-top: 4px;
        }
      }
      input[type="radio"]:checked + .form-label:before,
      .form-label.checked:before {
        background-color: #b2922c;
        box-shadow: inset 0 0 0 3px #f4f4f4;
        border: 2px solid #b2922c;
      }
      input[type="radio"]:checked + .form-label {
        border: 2px solid #b2922c;
      }
    }
  }
}
