.top-stories {
    width: 66%;

    .load-more-wrap {
        text-align: center;
        margin: 24px;
    }
    .quote-carousel {
        background: #b5912c;
        padding: 48px 0 60px;
        margin: 0;
        margin-bottom: 20px;

        .swiper-wrapper {
            align-items: center;
        }

        .slide-content {
            padding: 0 8%;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            font-weight: 700;
            font-family: $main-font;
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 12px;
            
            &:last-child {
                margin: 0;
            }
        }
        .swiper-pagination {
            bottom: 12px;

            .swiper-pagination-bullet {
                border: 0;
                background: #d2ba69;
                opacity: 1;
                cursor: pointer;
                margin: 0 5px;
                
                &.swiper-pagination-bullet-active {
                    background: #fff;
                }
            }
        }
    }
}