.content {
  margin: 0;
  padding: 0;
}

.content p {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Barlow";
}

.content a {
  color: #007bff;
  text-decoration: none;
}

.content img {
  height: auto;
  max-width: 100%;
}

.content ul,
.content ol {
  font-family: 'Helvetica';
}

.content ul > li > ul,
.content ol > li > ol {
  margin: 0;
}

.content ul > li > ul {
  list-style: circle;
}

@media only screen and (max-width: 1499px) {
  .content p {
    font-size: 16px;
  }
}
