.content {
  margin: 0;
  padding: 0;
}


.content p {
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Barlow";
}

.content a {
  color: #007bff;
  text-decoration: none;
}

.content img {
  height: auto;
  max-width: 100%;
}

.content ul,
.content ol {
  margin: 0;
}

.content ul {
  margin: 0;
}

.content ol {
  margin: 0;
}

.content ul > li > ul,
.content ol > li > ol {
  margin: 0;
}

.content ul > li > ul {
  list-style: circle;
}

.content h2 {
  margin: 0;
}

.content h3 {
  margin: 0;
}

.content h4 {
  margin: 0;
}

.content pre {
  margin: 0;
}

.content code {
  margin: 0;
}

.content figcaption {
  margin: 0;
}

.content blockquote {
  margin: 0;
}

.content blockquote p {
  margin: 0;
}

.content blockquote cite {
  margin: 0;
}

.content audio {
  margin: 0;
}
