/* Helvetica start */
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/Helvetica/helvetica-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/helvetica-webfont.woff2') format('woff2'),
         url('../fonts/Helvetica/helvetica-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/helvetica-light-webfont.woff2') format('woff2'),
         url('../fonts/Helvetica/helvetica-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* Helvetica end */

/* Barlow start */
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow/Barlow-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
/* Barlow end */