$main-font: "Barlow";
$secondary-font: "Helvetica";

html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow: auto;
    margin-right: 0px;
    -webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background: #000000;
    overflow: initial;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #404040;
    font-family: $main-font;
    font-weight: 400;
    font-size: 1rem;
    line-height: normal;

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 20px;    
    }
    a {
        text-decoration: none;
        color: #4169e1;
    }
    p {
        font-family: $secondary-font;
        font-weight: 400;
    }
    img {
        max-width: 100%;
    }
    main {
        background: #232323;

        .main-wrap {
            background-image: url(../public/images/container-bg.png);
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100%;
        }
    }
    .container {
        max-width: 1180px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
