.index-page {
    .main-content {
        margin: 32px 0;
        display: flex;
        flex-wrap: wrap;
    
        .top-stories {
            width: 66%;
        }
        .main-sidebar {
            width: 34%;
            padding-left: 44px;
        }
    }
}