.index-page {
    @media screen and (max-width: 767px) {
        .container {
            max-width: 600px;
        }
    }
    .main-content {
        margin: 32px 0;
        display: flex;
        flex-wrap: wrap;
    
        .top-stories {
            width: 66%;
        }
        .main-sidebar {
            width: 34%;
            padding-left: 44px;
        }
        @media screen and (max-width: 991px) {
            .main-sidebar {
                padding-left: 24px;
            }
        }
        @media screen and (max-width: 767px) {
            margin: 24px 0;
            
            .top-stories {
                width: 100%;
            }
            .main-sidebar {
                width: 100%;
                padding-left: 0;
                max-width: 400px;
                margin: 40px auto 0;
            }
        }
    }
}