body {
    background: #000000;
    overflow: initial;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #404040;
    font-family: "Barlow";
    font-size: 1rem;
    line-height: normal;
}
body .container {
    max-width: 1180px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}