.site-header {
    background: #000;
    padding: 16px 0;
}
.site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
}
.site-header .site-branding {
    width: 190px;
    text-align: left;
}
.site-header .main-menu {
    width: calc(100% - 350px);
    text-align: center;
}
.site-header .secs-menu {
    width: 160px;
    display: flex;
    justify-content: flex-end;
}
.site-header .notice-and-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.15em;
    font-size: 15px;
    padding: 0 0 10px;
    border-bottom: 1px solid #f8da49;
}
.site-header .social-lst a{
    margin-left: 16px;
    display: inline-block;
}
.site-header .social-lst a svg, 
.site-header .social-lst a img {
    width: 24px;
    height: 24px;
    transition: ease .25s all;
}
.site-header .social-lst a.youtube svg {
    width: 32px;
}
.site-header .social-lst a:hover svg, 
.site-header .social-lst a:hover img {
    transform: scale(1.4);
}
.site-header .menu-list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-header .menu-list a {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 12px;
    text-decoration: none;
    color: #989898;
    display: block;
}
.site-header .menu-list a:hover {
    color: #f8e16b;
}
.site-header .menu-list .active a {
    color: #ffffff;
}
.site-header .login-btn {
    background: #2d2d2d;
    color: #ffffff;
    box-shadow: none;
    border: 0;
    outline: 0;
    padding: 10px 13px 10px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}
.site-header .login-btn:hover {
    background: #b28e2a;
}
.site-header .login-btn img {
    margin-right: 8px;
}